<div class='card-header text-center'>
<h3><i class="fas fa-cogs"></i> <%= user.dataValues.name %>'s Genres</h3>
<p class="offWhite">Genres Help Us Determine Which Books to Recommend</p>
</div>

<div class="card text-white bg-dark">
  <div id='selectedGenres' class="card-body text-white bg-dark text-center"
  <%=  genreNames.length === 0 ? `style=display:none` : "" %>  >
      <h4 class="text-center green">Selected Genres</h4>
    <p class="text-justify">
      <% genreNames.forEach(function(genre, index) { %>
      
      <form method="POST" action="/genres/:genre?_method=DELETE">
      <input hidden type="text" name="genre" value="<%= genre %>">
        <button type="submit" class="btn badge-success mb-1">
        <span class="badge badge-success myGenre"><i class="fas fa-minus mr-2"></i><%= genre %>
        </button></span>
      </form>

      <% }); %>
    </p>
  </div>
</div>



<div class="card text-white bg-dark mb-5">
    <div class="card-body text-center text-white bg-dark">
      <h4 class="text-center green">Genres</h4>
      <p class="offWhite">Select From the Options Below</p>
      <p class="">
      <% var genresAry = ["Science Fiction", "Art", "Biography", "Business", "Chick Lit", "Children's", "Christian", "Classics", "Comics", "Contemporary", "Cookbooks", "Crime", "Ebooks", "Fantasy", "Fiction", "Gay and Lesbian", "Graphic Novels", "Historical Fiction", "History", "Horror", "Humor and Comedy", "Manga", "Memoir", "Music", "Mystery", "Nonfiction", "Paranormal", "Philosophy", "Poetry", "Psychology", "Religion", "Romance", "Science", "Self Help", "Suspense", "Spirituality", "Sports", "Thriller", "Travel", "Young Adult"] %>
      <% genresAry.forEach(function(genre, index) { %>
        <% if (!genreNames.includes(genre)) { %>
          <span class="badge badge-secondary genre"><i class="fas fa-plus mr-2"></i><%=genre %></span>
        <% } %>
      <% }); %>
      

      </p>
    </div>
  </div>
  
  <script type="text/javascript" src="/js/genres.js"></script>
