<h3 class="card-header text-center"><i class="fas fa-book-open"></i> <%= user.dataValues.name %>'s Favorites</h3>

<% favorites.forEach(function(book, index) { %>

  <div class="card text-white bg-dark mb-5 mx-auto mt-3">
  
    <img src="<%= book.book_link %>" class="rounded mx-auto d-block" alt="book image">
    
    <div class="card-body text-white bg-dark">
      <h3 class='white'>
          <%= book.title %>
          <small class='green'>by <%= book.author %></small>
      </h3>
      <form method="POST" class='text-center mt-3' action="/favorite/:isbn?_method=DELETE">
        <input hidden type="text" name='isbn' value="<%= book.isbn %>">
          <button type="submit" class="btn btn-block text-white bg-dark"><i class="far fa-trash-alt"></i>
          <span class='green'> Remove</span></button>
      </form>
          
    </div>
  </div>

<% }); %>