<h1 class="card-header text-center"><i class="fas fa-search"></i>Search Results</h1>


  <div class="row">
<% googleBooks.forEach(function(book, index) { %>

  <div class='col-lg-6'> 

  <form action="/mybooks/new" method="GET">
  <input hidden type="text" name="book_link" value="<%= book.bookLink %>">
  <input hidden type="text" name="title" value="<%= book.title %>">
  <input hidden type="text" name="author" value="<%= book.author %>">
  <input hidden type="text" name="isbn" value="<%= book.isbn %>">
  <input hidden type="text" name="genre" value="<%= book.category %>"> 
  

      <div class="card text-white bg-dark mb-3">
        <img src="<%= book.imageUrl %>" class="rounded mx-auto d-block" alt="book image">
        <a hidden id='book_link' href='<%= book.bookLink %>'><%= book.bookLink %></a>
        <a href=""></a>
        <div class="card-body">
          <h5 class="card-title" id='title'><%= book.title %><small> by 
            <span id='author'>
              <%= book.author %>
            </span> 
            (<span id='year'><%= book.publicationYear %></span>)</small></h5>
          <p class="card-text" id='description'><%= book.description %></p>
        </div>
        <ul class="list-group list-group-flush text-white bg-dark">
          <li class="list-group-item text-white bg-dark">Average Rating: <span id='google_rating'><%= book.averageRating %></span>
            • <span id='numRatings'><%= book.ratingsCount %></span> ratings</li>
          <li class="list-group-item text-white bg-dark">
          Genres:
          <span id='genre'>
              <%= book.category %>
          </span>
          </li>
          <li class="list-group-item text-white bg-dark">price: $<span id='price'><%= book.price %></span> • <a href="<%= book.previewLink %>" id='previewLink'>preview</a></li>
          <li class="list-group-item text-white bg-dark">ISBN: <span id='isbn'><%= book.isbn %></span></li>
        </ul>
        <div class="card-body text-white bg-dark">
            <a class="btn btn-primary" type="submit" href='mybooks/new/<%= book.isbn %>'>Add to mybooks</a>
        </div>
      </div>

    </div>
    
    <% if (index % 2 === 0) { %>
      
    <% } %>
      
  </form>
<% }); %>
  
  </div>