<div class='card-header text-center'>
<h3><i class="fas fa-search"></i> Search Results</h3>
</div>


  <div class="row mb-5">
<% googleBooks.forEach(function(book, index) { %>

  <div class='col-lg-6 mt-1'> 

  <form action="/mybooks/new" method="GET">
  <input hidden type="text" name="book_link" value="<%= book.imageUrl %>">
  <input hidden type="text" name="title" value="<%= book.title %>">
  <input hidden type="text" name="author" value="<%= book.author %>">
  <input hidden type="text" name="isbn" value="<%= book.isbn %>">
  <input hidden type="text" name="genre" value="<%= book.category %>"> 
  

      <div class="card text-white bg-dark">
        <img src="<%= book.imageUrl %>" class="rounded mx-auto d-block" alt="book image">
        <a hidden id='book_link' href='<%= book.bookLink %>'><%= book.bookLink %></a>
        <div class="card-body">
          <h5 class="card-title" id='title'><%= book.title %><small class='green'> by 
            <span id='author'>
              <%= book.author %>
            </span> 
            (<span id='year'><%= book.publicationYear %></span>)</small></h5>
          <p class="card-text text-justify offWhite" id='description'><%= book.description %></p>
        </div>
        <ul class="list-group list-group-flush text-white bg-dark">
          <li class="list-group-item text-white bg-dark"><span class='green' id='google_rating'>
          <% switch (book.averageRating) { 
            case 0: 
          %>-<%
              break 
            case 0.5: 
        %><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 1: 
        %><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 1.5: 
        %><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 2: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 2.5: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 3: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 3.5: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><%
              break 
            case 4: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><%
              break 
            case 4.5: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><%
              break 
            case 5: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><%
              break 
            default: 
          } %>
          </span>
            • <span class='offWhite' id='numRatings'><%= book.ratingsCount %> ratings</span></li>
          <li class="list-group-item text-white bg-dark">
          Genres:
          <span class='green' id='genre'>
              <%= book.category %>
          </span>
          </li>
          <li class="list-group-item text-white bg-dark">price: $<span class='green' id='price'><%= book.price %></span> • <a href="<%= book.previewLink %>" id='previewLink'><i class="fas fa-search"></i> preview</a></li>
          <li class="list-group-item text-white bg-dark">ISBN: <span class='green' id='isbn'><%= book.isbn %></span></li>
        </ul>
            </form>
      </div>
      <div class="card-footer text-center mb-5">
        <ul class="nav nav-pills nav-justified text-center">
          <li class="nav-item text-center">
            <a class="btn btn-block btn-secondary text-white bg-dark" href='mybooks/new/<%= book.isbn %>'><i class="far fa-plus-square"></i></i> <span class='green'>mybooks</span></a>
          </li>
          <li class="nav-item text-center">
            <form action="/favorite" method="POST">
                <input hidden type="text" name="book_link" value="<%= book.imageUrl %>">
                <input hidden type="text" name="title" value="<%= book.title %>">
                <input hidden type="text" name="author" value="<%= book.author %>">
                <input hidden type="text" name="isbn" value="<%= book.isbn %>">
                <input hidden type="text" name="genre" value="<%= book.category %>">
                <button class="btn btn-block btn-secondary text-white bg-dark" type="submit" href='/favorite'><i class="far fa-plus-square"></i></i> <span class='green'>Favorites</span></button>
            </form>
          </li>
        </ul>
      </div>

    </div>

<% }); %>
  </div>