<div class='card-header text-center'>
<h3><i class="far fa-thumbs-up"></i> Rate and Review</h3>
<p class="offWhite"><i class="far fa-plus-square"></i></i> Add to mybooks</p>
</div>
  
<form action="/mybooks" method="POST" class='justify-content-center'>
  <input hidden type="text" name="book_link" value="<%= book.imageUrl %>">
  <input hidden type="text" name="title" value="<%= book.title %>">
  <input hidden type="text" name="author" value="<%= book.author %>">
  <input hidden type="text" name="isbn" value="<%= book.isbn %>">
  <input hidden type="text" name="genre" value="<%= book.category %>"> 
    <div class="card text-white bg-dark mb-3 mx-auto">
      <img src="<%= book.imageUrl %>" class="rounded mx-auto d-block" alt="book image">
      <a hidden id='book_link' href='<%= book.bookLink %>'><%= book.bookLink %></a>
      <a href=""></a>
      <div class="card-body text-white bg-dark">
        <h5 class="card-title" id='title'><%= book.title %><small class='green'> by 
        <span id='author'>
          <%= book.author %>
        </span> 
        (<span id='year'><%= book.publicationYear %></span>)</small></h5>
        <p class="card-text text-justify offWhite" id='description'><%= book.description %></p>
      </div>
      <ul class="list-group list-group-flush text-white bg-dark">
      <li class="list-group-item text-white bg-dark"><span class='green' id='google_rating'>
      <% switch (book.averageRating) { 
            case 0: 
          %>-<%
              break 
            case 0.5: 
        %><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 1: 
        %><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 1.5: 
        %><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 2: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 2.5: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 3: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><%
              break 
            case 3.5: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><%
              break 
            case 4: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><%
              break 
            case 4.5: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><%
              break 
            case 5: 
        %><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><%
              break 
            default: 
          } %>
      </span>
      • <span class='offWhite' id='numRatings'><%= book.ratingsCount %> ratings</span></li>
    <li class="list-group-item text-white bg-dark">
    Genres:
    <span class='green' id='genre'>
        <%= book.category %>
    </span>
    </li>
    <li class="list-group-item text-white bg-dark">price: $<span class='green' id='price'><%= book.price %></span> • <a href="<%= book.previewLink %>" id='previewLink'><i class="fas fa-search"></i> preview</a></li>
    <li class="list-group-item text-white bg-dark">ISBN: <span class='green' id='isbn'><%= book.isbn %></span></li>
        <li class="list-group-item text-white bg-dark">
          <div class="input-group mb-3 text-white bg-dark">
            <div class="input-group-prepend text-white bg-dark">
              <label class="input-group-text text-white bg-secondary" for="inputGroupSelect01">Rating</label>
            </div>
            <select class="custom-select text-white bg-dark" id="rating" name="rating" required data-show-icon="true">
              <option selected disabled>Choose...</option>
              <option value="0">0</option>
              <option value="0.5">0.5</option>
              <option value="1">1.0</option>
              <option value="1.5">1.5</option>
              <option value="2">2.0</option>
              <option value="2.5">2.5</option>
              <option value="3">3.0</option>
              <option value="3.5">3.5</option>
              <option value="4">4.0</option>
              <option value="4.5">4.5</option>
              <option value="5">5.0</option>
            </select>
          </div>
        </li>
        <li class="list-group-item text-white bg-dark">
          <div class="input-group text-white bg-dark">
            <div class="input-group-prepend text-white bg-dark">
              <span class="input-group-text text-white bg-secondary">Review:</span>
            </div>
            <textarea class="form-control text-white bg-dark" aria-label="With textarea" id="review" name="review"></textarea>
          </div>
        </li>
        <li class="list-group-item text-white bg-dark mb-5">
          <button class="btn btn-block btn-secondary text-white bg-dark" href='/mybooks' type="submit"><i class="far fa-plus-square"></i></i> <span class='green'>Add to mybooks</span></button>
        </li>
        
      </ul>
      
    </div>

</form>
